@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

input[type='number'] {
  appearance: textfield;
}
